{% extends 'base.html' %}

{% block title %}
    Detalhes_Sensor
{% endblock%}


{% block content %}

<div class="py-10 px-28 flex justify-between" >

<a href="{% url 'Sensores:leitura_sensor' sensor.pk %}?horas=24"><button type="button" class="btn btn-primary">24 horas</button></a>
<a href="{% url 'Sensores:leitura_sensor' sensor.pk %}?horas=48"><button type="button" class="btn btn-primary">48 horas</button></a>
<a href="{% url 'Sensores:leitura_sensor' sensor.pk %}?horas=168"><button type="button" class="btn btn-primary">1 semana</button></a>
<a href="{% url 'Sensores:leitura_sensor' sensor.pk %}?horas=720"><button type="button" class="btn btn-primary">1 mês</button></a>
</div>

<div>
    <h1></h1>
</div>
<div class="py-28 text-center flex items-center flex-col">
    <img src="data:image/png;base64,{{ grafico }}" alt="Meu Gráfico" width="800" height="600">
</div>



{% endblock %}