{% extends 'base.html' %}


{% block title %}
    HomeSensores
{% endblock%}


{% block content %}
{% include 'navbar.html'%}



<div class="  md:py-0 text-gray-100 text-center flex items-center flex-col">
        
    <h1 class="py-32 font-semibold text-4xl md:text-5xl w-10/12 md:w-3/4 text-center"> 
        Valor Médio dos Sensores
    </h1>
</div>


<section id="section1" class="flex flex-nowrap items-center justify-center space-x-8">
    {% for sensor in object_list %}
      <div class="item h-64 w-3/4 m-4">
          <a href="{% url 'Sensores:leitura_sensor' sensor.pk  %}?horas=24">
            <p>{{sensor.id_sensor}}</p>
          </a>
      </div>
    {% endfor %}

{% endblock %}